.eventio-events-list {
    &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: $theme-space-large;
    }

    @media screen and (min-device-width: 1200px) {
        &__events {
            &--grid {
                display: grid;
                grid-gap: $theme-space;
                grid-template-columns: repeat(3, 1fr);
            }
        }

        &__loading-indicator {
            grid-column: 1 / span 3;
        }
    }
}
