.grid-event {
    margin-bottom: $theme-space;
    padding: $theme-space-large;

    &:last-child {
        margin-bottom: 0;
    }

    &__button {
        width: 100px;

        &.eventio-button {
            font-size: 14px;
            height: 32px;
            padding-top: $theme-space-small;
        }
    }

    &__count {
        align-items: center;
        color: $color-gray;
        display: flex;

        .md-icon {
            color: $color-gray;
        }
    }

    &__date {
        color: $color-gray-light;
        font-size: 14px;
    }

    &__description {
        &.md-card-text {
            font-size: 16px;
            padding: 0;
        }
    }

    &__description-text {
        color: $color-gray;
    }

    &__footer {
        &.md-dialog-footer--card {
            display: flex;
            justify-content: space-between;
            padding: 0;
            padding-top: $theme-space-large;
        }
    }

    &__title {
        &.md-card-title {
            padding: 0;
            padding-bottom: $theme-space;
            padding-top: $theme-space;
        }

        .md-card-title--large {
            color: $color-gray-dark;
            font-size: 22px;
        }

        .md-text--secondary {
            color: $color-gray;
            font-size: 14px;
        }
    }

    @media screen and (min-device-width: 1200px) {
        margin-bottom: 0;
        padding: $theme-space * 2.7;
    }
}
