.classification-list {
    &__dropdown-label {
        color: $color-gray-light;
        font-weight: bold;
        padding-right: $theme-space;
    }

    &__list {
        display: none;
    }

    @media screen and (min-device-width: 1200px) {
        &__dropdown {
            display: none;
        }

        &__list {
            display: initial;
            font-weight: bold;
        }

        &__list-item {
            color: $color-gray-light;
            cursor: pointer;
            margin-right: $theme-space;

            &--active {
                color: $color-gray-dark;
            }
        }
    }
}
