.list-event {
    background-color: $color-white;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 30px 30px 25px 20px;
    margin-bottom: $theme-space;
    padding: $theme-space * 1.5;

    &__button {
        grid-column: 9 / 13;
        grid-row: 3 / 5;
        width: 100px;

        &.eventio-button {
            font-size: 14px;
            height: 32px;
            padding-top: $theme-space-small;
        }
    }

    &__count {
        color: $color-gray;
        font-size: 14px;
        grid-column: 1 / 6;
        grid-row: 4 / 4;
    }

    &__date {
        color: $color-gray-light;
        display: block;
        font-size: 14px;
        grid-column: 1 / 9;
        grid-row: 3 / 3;
    }

    &__description {
        color: $color-gray;
        font-size: 16px;
        grid-column: 1 / 13;
        grid-row: 2 / 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__owner {
        display: none;
    }

    &__title {
        color: $color-gray-dark;
        font-size: 18px;
        grid-column: 1 / 13;
        grid-row: 1 / 1;
        margin: 0;
    }

    @media screen and (min-device-width: 1200px) {
        display: grid;
        grid-gap: 0;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: $theme-space * 2.7;

        &__button {
            grid-column: 12;
            grid-row: 1 ;
            justify-self: end;
        }

        &__count {
            grid-column: 11;
            grid-row: 1;
        }

        &__date {
            grid-column: 9 / span 2;
            grid-row: 1;
        }

        &__description {
            grid-column: 4 / span 3;
            grid-row: 1;
            padding-right: $theme-space-large;
        }

        &__owner {
            color: $color-gray-darkish;
            display: initial;
            font-size: 14px;
            grid-column: 7 / span 2;
            grid-row: 1;
        }

        &__title {
            grid-column: 1 / span 3;
            grid-row: 1;
        }
    }
}
