.eventio-button {
    &.md-btn {
        background-color: $color-gray-light;
        color: $color-gray;
        font-size: 16px;
        height: 4.75rem;

        &--hover {
            background-color: $color-gray-normal;
        }

        &--text {
            font-weight: bold;
        }
    }

    &--disabled {
        &.md-btn {
            &.md-background--primary {
                background-color: $color-gray-light;
                color: $color-gray;
            }
        }
    }

    &.md-background {
        &--primary {
            background-color: $color-green-light;
            color: $color-white;

            &:hover {
                background-color: $color-green-dark;
            }
        }

        &--secondary {
            background-color: $color-magenta-light;
            color: $color-white;

            &:hover {
                background-color: $color-magenta-dark;
            }
        }
    }
}
