.eventio-circular-button {
    cursor: pointer;
    height: 56px;
    width: 56px;

    &.md-background {
        &--primary {
            background-color: $color-gray-dark;

            &:hover {
                background-color: $color-gray-dark;
                opacity: 0.8;
            }
        }

        &--secondary {
            background-color: $color-green-light;

            &:hover {
                background-color: $color-green-light;
                opacity: 0.8;
            }
        }
    }
}
