.login-form {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
    width: 100%;

    &__field-group {
        margin-bottom: $theme-space-huge;
    }

    &__sign-in-button {
        margin: 0 $theme-space-large;
    }

    @media screen and (min-device-width: 1200px) {
        &__sign-in-button {
            margin: 0;
            width: 30%;
        }
    }
}
