.event-detail {
    padding: $theme-space;

    &__content {
        margin-top: $theme-space-large;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__delete-container {
        color: $color-magenta-light;
        cursor: pointer;
        display: flex;
    }

    &__delete-icon {
        padding-right: $theme-space;

        &.md-icon.material-icons {
            color: $color-magenta-light;
            font-size: 14px;
        }
    }

    &__delete-text {
        display: none;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: $theme-space-large;
    }

    &__id-title {
        color: $color-gray;
        font-size: 12px;
        font-weight: 600;
        padding-left: $theme-space;
        text-transform: uppercase;
    }

    @media screen and (min-device-width: 1200px) {
        padding: 0 $theme-space-big;
        padding-top: $theme-space-huge;

        &__content {
            display: grid;
            grid-gap: $theme-space;
            grid-template-columns: repeat(12, 1fr);
        }

        &__delete-text {
            display: initial;
            font-size: 12px;
            font-weight: bold;
        }

        &__event {
            grid-column: 1 / span 8;
        }

        &__attendees {
            grid-column: 9 / span 4;
        }
    }
}
