.eventio-attendees {
    background-color: $color-white;
    height: fit-content;
    padding: $theme-space-large;

    &__title {
        color: $color-gray-dark;
        font-size: 22px;
        margin-bottom: $theme-space-large;
    }
}
