.event-detail-back-link {
    display: none;

    @media screen and (min-device-width: 1200px) {
        display: initial;
        position: absolute;
        right: 50%;
        top: $theme-space-large;

        &__hyperlink {
            display: flex;
            justify-content: center;
        }

        &__arrow {
            color: $color-gray-dark;
            font-size: 16px;
            padding-right: $theme-space;
        }

        &__title {
            color: $color-gray-dark;
            font-size: 16px;
        }
    }
}
