.login {
    height: 100%;

    &__content {
        display: flex;
    }

    &__failed-error-text {
        @extend %error-message-color;

        font-size: 1rem;
    }

    &__form {
        margin: auto 0;
        padding: 0 $theme-space-large;
        width: 100%;
    }

    &__header {
        text-align: center;
    }

    &__quote {
        @extend %playfair-font-family;

        color: $color-white;
    }

    &__subtitle {
        color: $color-gray;
        font-size: 1rem;
    }

    &__title {
        color: $color-gray-dark;
        font-size: 22px;
        margin: 0;
    }

    @media screen and (min-device-width: 1200px) {
        &__failed-error-text {
            font-size: 18px;
        }

        &__form {
            padding: 0 $theme-space-gigantic;
        }

        &__header {
            text-align: left;
        }

        &__subtitle {
            font-size: 18px;
        }

        &__title {
            font-size: 28px;
        }
    }
}
