.events {
    &__content {
        padding: $theme-space;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        padding-right: $theme-space;
        padding-bottom: $theme-space;
    }

    &__list {
        margin-top: $theme-space * 3;
    }

    @media screen and (min-device-width: 1200px) {
        &__content {
            margin-left: $theme-space-big;
            margin-right: $theme-space-big;
        }
    }
}
