.eventio-date-picker {
    width: 100%;

    /**
     * Datepicker dialog
     */
    .md-text-field-icon + .md-text-field-divider-container {
        margin-left: 0;
    }

    .md-picker-header {
        background-color: $color-gray-dark;
    }

    .md-calendar-date--btn {
        &::after {
            background-color: $color-gray-dark;
        }
    }

    .md-dialog-footer {
        .md-text--theme-primary {
            color: $color-gray-dark;
        }
    }

    .md-floating-label {
        color: $color-gray;

        &--floating {
            font-size: 14px;
        }
    }

    /**
     * TextField
     */
    .md-floating-label--icon-offset {
        left: 0;
    }

    .md-icon {
        display: none;
    }

    .md-divider {
        &--text-field {
            &::after {
                background-color: $color-gray-dark;
            }
        }

        &--text-field-error {
            background-color: $color-magenta-light;
        }
    }

    .md-text--error {
        .md-text-field-message {
            @extend %error-message-color;
        }
    }

    .md-text-field-message-container {
        &--left-icon-offset {
            padding-left: 0;
        }
    }
}
