.eventio-text-field {
    .md-floating-label {
        color: $color-gray;

        &--floating {
            font-size: 14px;
        }
    }

    .md-divider {
        &--text-field {
            &::after {
                background-color: $color-gray-dark;
            }
        }

        &--text-field-error {
            background-color: $color-magenta-light;
        }
    }

    .md-text--error {
        .md-text-field-message {
            @extend %error-message-color;
        }
    }
}
