.eventio-logo {
    @extend %eventio-font-family;

    color: $color-gray-dark;
    font-size: 3.25rem;
    font-weight: bolder;
    left: $theme-space-large;
    position: absolute;
    top: $theme-space-large;
}
