.eventio-loading-indicator {
    &.md-progress {
        margin-bottom: 0;
        margin-top: 0;
    }

    .md-circular-progress-path {
        stroke: $color-white;
    }

    &--gray {
        .md-circular-progress-path {
            stroke: $color-gray-dark;
        }
    }
}
