%dropdown-font-size {
    font-size: 12px;
}

.eventio-dropdown {
    .md-divider {
        display: none;
    }

    .md-text {
        @extend %dropdown-font-size;

        color: $color-gray-light;
        font-weight: bold;

        &--theme-primary {
            @extend %dropdown-font-size;

            color: $color-gray-dark;
        }
    }

    .md-text-field {
        @extend %dropdown-font-size;

        color: $color-gray-dark;

        .md-icon-text {
            padding-right: 0;
        }
    }
}
