.eventio-list-view-selector {
    display: flex;
    justify-content: space-between;
    width: 60px;

    &__list-icon,
    &__grid-icon {
        &.md-icon {
            color: $color-gray-light;
            cursor: pointer;
        }

        &--active {
            &.md-icon {
                color: $color-gray-dark;
            }
        }
    }
}
