.eventio-create-event {
    .md-dialog {
        background-color: $theme-background-color;
    }

    &__close-button {
        cursor: pointer;

        &.md-icon {
            color: $color-gray-dark;
            font-size: 22px;
            margin: $theme-space * 2.5;
        }
    }

    &__content {
        align-items: center;
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        margin: $theme-space;
        margin-top: $theme-space-large;
        padding-top: $theme-space-large;
    }

    &__form {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: $theme-space;
        width: 100%;
    }

    &__submit-button {
        width: 240px;
    }

    &__subtitle {
        color: $color-gray;
        font-size: 14px;
        font-weight: 400;
    }

    &__title {
        color: $color-gray-dark;
        font-size: 22px;
    }

}
