.login-quote-image {
    background-image: url('../../../assets/images/canvas.png');
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding: $theme-space * 7;
    text-align: center;

    &__author {
        color: $color-gray;
        font-size: 18px;
        padding-top: $theme-space;
    }

    &__quote {
        @extend %playfair-font-family;

        color: $color-white;
        font-size: 36px;
    }

    &__separator {
        &.md-icon {
            color: $color-green-light;
        }
    }

    .eventio-logo {
        color: $color-white;
    }
}
