.profile-user-info {
    align-items: center;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding-bottom: $theme-space-large;

    &__avatar {
        margin-bottom: $theme-space-large;
        margin-top: -60px;

        &.md-avatar {
            border-color: $color-gray-light;
            height: 120px;
            width: 120px;

            &--default {
                background: $color-gray-light;
                color: $color-gray;
            }
        }

        .md-avatar-content {
            font-size: 42px;
        }
    }

    &__user-name {
        color: $color-gray-dark;
        font-size: 18px;
        margin: 0;
    }

    &__user-email {
        color: $color-gray;
        font-size: 14px;
        font-weight: 400;
        margin: 0;
    }
}
