.eventio-user-menu {
    align-items: center;
    cursor: pointer;
    display: flex;

    &__arrow {
        &.md-icon {
            color: $color-gray-light;
        }
    }

    &__avatar {
        &.md-avatar {
            border-color: $color-gray-light;
            max-height: 32px;
            max-width: 32px;

            &--default {
                background: $color-gray-light;
                color: $color-gray;
            }
        }

        .md-avatar-content {
            font-size: 11px;
        }
    }

    &__list {
        border-radius: 10%;

        &.md-list {
            top: $theme-space-huge;
        }
    }

    &__user-name {
        &.md-icon-separator {
            &:last-child {
                padding: 0;
            }
        }

        .md-icon-text {
            display: none;
        }
    }

    @media screen and (min-device-width: 1200px) {
        &__avatar {
            margin-right: $theme-space-small;

            &.md-avatar {
                max-height: 40px;
                max-width: 40px;
            }

            .md-avatar-content {
                font-size: 14px;
            }
        }

        &__user-name {
            color: $color-gray;
            font-size: 14px;
            font-weight: 500;

            .md-icon-text {
                display: initial;

                &:first-child {
                    padding: 0;
                }
            }
        }
    }
}
