// @import '~reset-css';
@import './assets/styles/fonts';
@import './assets/styles/global';

html,
body {
    @extend %eventio-font-family;

    font-size: $font-size;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.eventio {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h2 {
    color: $color-gray-dark;
    font-size: 22px;
}

h3 {
    color: $color-gray;
    font-size: 14px;
    font-weight: 400;
}
