@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 200;
    src: url('./assets/fonts/Hind/Hind-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Hind/Hind-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/Hind/Hind-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/Hind/Hind-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Hind';
    font-style: normal;
    font-weight: 900;
    src: url('./assets/fonts/Hind/Hind-Bold.ttf') format('truetype');
}
