@font-face {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Playfair/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair';
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/Playfair/PlayfairDisplay-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/Playfair/PlayfairDisplay-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair';
    font-style: italic;
    font-weight: 700;
    src: url('./assets/fonts/Playfair/PlayfairDisplay-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 900;
    src: url('./assets/fonts/Playfair/PlayfairDisplay-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair';
    font-style: italic;
    font-weight: 900;
    src: url('./assets/fonts/Playfair/PlayfairDisplay-BoldItalic.ttf') format('truetype');
}
