$font-size: 12px;
$theme-space: 1rem;
$theme-background-color: #F9F9FB;

$theme-space-small: $theme-space / 2;
$theme-space-little: $theme-space / 4;
$theme-space-tiny: $theme-space / 8;
$theme-space-minuscule: $theme-space / 16;

$theme-space-large: $theme-space * 2;
$theme-space-huge: $theme-space * 4;
$theme-space-big: $theme-space * 8;
$theme-space-gigantic: $theme-space * 16;

$color-black: #000;
$color-gray: #949EA8;
$color-gray-dark: #323C46;
$color-gray-darkish: #7D7878;
$color-gray-light: #D9DCE1;
$color-gray-normal: #C4C9D1;
$color-green-dark: #20BD78;
$color-green-light: #22D486;
$color-magenta-dark: #E73370;
$color-magenta-light: #FF4081;
$color-white: #FFF;

%eventio-font-family {
    font-family: Hind;
}

%playfair-font-family {
    font-family: Playfair;
}

%error-message-color {
    color: $color-magenta-light;
}
