.profile {
    padding: 0 $theme-space;
    padding-bottom: $theme-space;

    &__events-list {
        padding-top: $theme-space-large;
    }

    &__events-list-title {
        color: $color-gray-dark;
        font-size: 22px;
        margin-bottom: 0;
    }

    @media screen and (min-device-width: 1200px) {
        padding: 0 $theme-space-big;
    }
}
