.eventio-attendee {
    margin-bottom: $theme-space;
    margin-right: $theme-space;

    &.md-chip {
        background-color: $color-gray-light;

        .md-chip-text {
            color: $color-gray;
            font-size: 13px;

            &--hover {
                color: $color-white;
            }
        }
    }

    &--user {
        &.md-chip {
            background-color: $color-white;
            border: 2px solid $color-gray-light;
        }
    }
}
